@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

/* tirando todas as margens e expassamentos da pagina inteira */
*{
    margin: 0;
    padding: 0;
    /* todos os elementos que tiver lista na pagina nao terao os estilo com pontos a esquerda */
    list-style: none;
    /* todos os textos na pagina interia nao terao sublinhados */
    text-decoration: none;
}

/* codigo p/ mudar as fontes (linkado com o primeiro @import do CSS) */
:root{
    --font-primary: "Baloo Da 2", serif;
    --font-secundary: "Josefin Slab", serif;
    --font-action: "Mulish", serif;
}

html{
    scroll-behavior: smooth;
}

/* esta eh a div do menu lateral */
.hamburguer{
    /* ao fazer uma div, usar backgroundcolor, width e heigh para visualizar o formato */
    /* background-color: red; */
    width: 2rem;
    height: 2rem;
    /* position fixed eh p/ permanecer fixo na tela mesmo quando estiver rolando a pagina */
    position: fixed;
    /* este z-index eh p/ deixar o elemento a frente de todo o resto */
    z-index: 100;
    /* distancias em relacao ao canto superior direito, poisso a primeira linha no codigo eh right */
    right: 2rem;
    top: 2rem;
    /* esse display flex eh para poder mover as lines e por um embaixo da outra usando depois o justify-content: space-evenly;  */
    display: flex;
    /* esse flex direction eh p/ indicar o sentido que vai ficar as lines, nesse caso em colunas */
    flex-direction: column;
    /* justificar conteudo uniformemente dentro da div hamburguer com expassamento vertical */
    justify-content: space-evenly;
    /* estilo do ponteiro do mouse muda pra indicar que eh um link */
    cursor: pointer;
}

/* efeito associado ao JS p/ o menu lateral */
.show-menu .hamburguer{
    right: 15rem;
}

/* todo os elementos line terao a largura de 100% em relacao ao elemento pai hamburguer */
.line{
     width: 100%;
     height: .1rem;
     background-color: white;
     /* sombra para poder visualizar em bgs claros */
     box-shadow: .1rem .1rem .1rem #6a3093;
     /* trasicao do efeito associado ao JS do menu lateral */
     transition: transform 1.2s;
}

/* efeito da linha 1 da div hambuerguer (associado ao JS) p/ formar um X */
.show-menu #line1{
    transform: rotate(45deg) translate(.3rem, .45rem);
}

/* efeito da linha 2 da div hambuerguer (associado ao JS) */
.show-menu #line2{
    opacity: 0;
}

/* efeito da linha 3 da div hambuerguer (associado ao JS) p/ formar um X */
.show-menu #line3{
    transform: rotate(-45deg) translate(.2rem, -.5rem);
}

/* esse eh o span dentro da div hamburguer */
.hamburguer span{
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    /* para poder alinha ao centro com justify-content na horizontal e align-items na vertical */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6a3093;
    /* cor e familia do texto */
    color: white;
    font-family: var(--font-action);
    /* opacity 0 por padrao p/ associar ao .show-menu .hamburguer:hover logo a baixo */
    opacity: 0;
}

/* pseudo elemento p/ o span */
.hamburguer span::before{
    content: "";
    position: absolute;
    border-right: .5rem solid #6a3093;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
}

/* span de fechar aba lateral so aparece ao clicar no X */
.show-menu .hamburguer:hover span{
    opacity: 1;
}






/* aqui estou deixando a largura em 100% e altura ajustavel p/ responsividade */
header{
    width: 100%;
    /* esse 100vh eh p/ a altura ficar responsiva (View Height) */
    height: 100vh;
    /* esse overflow eh p/ nao criar barra de rolagem para o bg */
    overflow: hidden;
    /* esse position:relative eh p/ o position:absolute da div banner funcionar */
    position: relative;
}

/* background dentro da div imgWarpper dentro do header */
.imgWrapper{
    width: 100%;
    height: 100%;
    /* esse overflow eh p/ nao criar barra de rolagem para o bg */
    overflow: hidden;
    /* este background color eh para escurecer um pouco o bg */
    background-color: rgba(0, 0, 0, .8);    
}

/* aqui eu estou modificando somente a img dentro do wrapper p/ ficar responsivo*/
.imgWrapper img{
    width: 100%;
    height: 100%;
    /* esse object-fit eh p/ a imagem cobrir a div imgWarpper  */
    object-fit: cover;
    opacity: 0.8;
    /* aplicacao do efeito zoom @keyframes zoom */
    animation: zoom 2.5s;
}

/* animacao do header dentro da div imgWrapper img */
/* esta animation da um zoom-out da imagem durante 25s */
@keyframes zoom{
    0%{
       transform: scale(1.3); 
    }
    100%{
        transform: scale(1); 
     }
}

/* img lateral direito */
.imgLateral{
    width: 80%;
    height: 80vh;
    position: absolute;
    top: 20%;
    left: 15%;
    opacity: 0;
    animation: moveImgLateral 3s forwards;
}

/* img lateral direito */
.img2{
    width: 80%;
    height: 80vh;
    position: absolute;
    top: 20%;
    left: 15%;
    opacity: 0;
    animation: moveImgLateral 1s forwards; 
}

/* animation do imagem lateral */
@keyframes moveImgLateral{
    0%{
        transform: translateY(10rem) rotateY(-30deg) scale(2.3);
    }
    100%{
        transform: translateY(0) rotateY(0) scale(1); 
        opacity: 1;
    }
}

/* aqui eh a div banner que contem os dados e botao encima do bg no header */
.banner{
    /* esse position eh para posicionar a div banner
    mas p/ funcionar eh necessario ter tambem o position:relative
    dentro do header sendo possivel por o div banner em qualquer lugar
    dentro do header */
    position: absolute;
    /* margens em relacao as bordas, superior e lateral esquerda */
    top: 25%;
    left: 15%;
}
/* aqui estou modificando apenas o h1 da div banner */
.banner h1{
    color: white;
    /* esse tamanho 3rem esta relacionado ao tamanho padrao de 16px,
    logo 3rm eh (3.5 * 16 = 56px) */
    font-size: 4.5rem;
    font-family: var(--font-primary);
    /* font-weight: eh para deixar a font mais fina; */
    font-weight: 200;
    /* sombra da font */
    text-shadow: .2rem .3rem .2px rgba(0, 0, 0, .4);
    /* expassamento entre linhas do texto */
    line-height: 3.5rem;
    margin-bottom: 2rem;
    /* esta opacity eh para iniciar a animation do transparente p/ o normal */
    opacity: 0;
    /* animation com nome, tempo e forwards p/ nao desaparecer o texto no final da animation */
    animation: moveBanner 1s forwards;
}

/* aqui estou modificando apenas o paragrafo p da div banner */
.banner p{
    font-family: var(--font-secundary);
    color: white;
    font-size: 2.5rem;
    text-shadow: .2rem .2rem rgba(0, 0, 0, .4);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1.5s forwards;
}

/* aqui estou modificando apenas o botao dentro da div banner */
.banner button{
    font-family: var(--font-action);
    color: white;
    /* uppercase p/ deixar tudo maiusculo */
    text-transform: uppercase;
    /* p/ dar espaco entre as letras */
    letter-spacing: .1rem;
    /* bg do botao em degrade usando code do site uiGradient */
    background: #fc4a1a;
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a); 
    background: linear-gradient(to right, #f7b733, #fc4a1a);
    /* margens internas do botao (1rem p/ o top e bottom e 3rem p/ laterais) */
    padding: 1rem 3rem;
    border: none;
    /* arredondamento das bordas em px p/ nao mudar raio ao redimencionar */
    border-radius: 5px;
    /* mudando o ponteiro do mouse p/ indicar que eh um botao */
    cursor: pointer;
    opacity: 0;
    animation: moveBanner 2s forwards;
}

/* efeito no botao que pode ser usado de varias formas, como ajustar tempo de transicao do efeito (EXPLORAR ISSO) */
.banner button:hover{
    background: #6a3093;  
    background: -webkit-linear-gradient(to right, #a044ff, #6a3093); 
    background: linear-gradient(to left, #a044ff, #6a3093);
}

/* animacao do text e botao dentro da div banner */
@keyframes moveBanner{
    0%{
        transform: translateX(50rem) rotateY(60deg);
    }
    100%{
        transform: translateX(0) rotateY(0);
        opacity: 1;
    }
}

/* menu lateral que abre ao clicar na div hamburguer, ela esta aqui embaixo para seguir a ordem dos elementos */
.sidebar{
    width: 20rem;
    height: 100vh;
    background: #fc4a1a; 
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  
    background: linear-gradient(to right, #f7b733, #fc4a1a);  
    position: fixed;
    top: 0;
    /* esse -20rem eh p/ se ajustar ao efeito de aparecer desaparecer do menu lateral */
    right: -20rem;
    /* efeito de transicao da aba lateral */
    transition: all 1s;
    z-index: 10;
}

/* JS evento do efeito da aba lateral */
.show-menu .sidebar{
    right: 0;
}

/* div menu eh o texto dentro da div sidebar */
.menu{
    position: absolute;
    top: 20%;
    left: 15%;
}

/* textos dentro da div menu */
.menu-item{
    margin-bottom: 2.5rem;
}

/* links dentro da div menu */
.menu-link{
    font-family: var(--font-action);
    font-size: 1.8rem;
    font-weight: 800;
    color:white;
    /* transicao de cores p/ o efeito hover (cor e tempo) */
    transition: color .5s;
}

/* efeito hover nos links */
.menu-link:hover{
    color: #6a3093;
}
/* icons que na verdade sao fonts associadas ao segundo @import do CSS */
.socialMedia{
    /* position absolute p/ poder posicionar embaixo usando bottom */
    position: absolute;
    bottom: 8rem;
    /* width de 100% em relacao ao tamanho da div sidebar */
    width: 100%;
    /* display flex p/ poder usar o justify-content, expassando os icons */
    display: flex;
    justify-content: space-evenly;
}

.socialMedia i{
    color: #6a3093;
    font-size: 2.5rem;
    transition: color .5s;
}

.socialMedia i:hover{
    color: #9b4cd3;
}

.menuBurguer{
    position: absolute;
    top: 2.3rem;
    right: 5.5rem;
    /* z-index: 1; */
    color: whitesmoke;
    position: fixed;
    font-family: var(--font-action);
}

.show-menu .menuBurguer{
    right: -3rem;
}

/* 16 colunas por 6 linhas */
.conhecimentos{
    display: grid;
    /* para fazer 16 colunas */
    grid-template-columns: repeat(16, 1fr);
    /* para fazer as linhas */
    grid-template-rows: repeat(6, 6rem);
    row-gap: .5rem;
}

/* organizando o contetudo dentro das grides */
/* HTML */
.conhecimento:nth-child(1){
    grid-column: 4 / 7;
    grid-row: 1 / 3;
}

/* CSS */
.conhecimento:nth-child(2){
    grid-column: 3 / 6;
    grid-row: 3 / 5;
}

/* DESIGN */
.conhecimento:nth-child(3){
    grid-column: 4 / 7;
    grid-row: 5 / -1;
}

/* JAVASCRIPT */
.conhecimento:nth-child(4){
    grid-column: 11 / 14;
    grid-row: 1 / 3;
}

/* BOOTSTRAP */
.conhecimento:nth-child(5){
    grid-column: 12 / 15;
    grid-row: 3 / 5;
}

/* GIT e GITHUB */
.conhecimento:nth-child(6){
    grid-column: 11 / 14;
    grid-row: 5 / -1;
}

/* cor de fundo da <section class="sessao-conhecimentos"> */
.sessao-conhecimentos{
    background-color: #f5f5f5;
}

/* formatacao dos textos da div conhecimentos */
.sessao-header{
    /* display flex p/ centralizar com justify-content */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* titulo */
.sessao-header h1{
    font-family: var(--font-primary);
    font-size: 3rem;
    color: #6a3093;
    border-bottom: solid 3px #6a3093;
    margin-top: 5rem;
    margin-bottom: 3.5rem;
}

/* alinhamento dos icons com o titulo de cada topico */
.conhecimento-header{
    display: flex;
    align-items: center;
    color: #6a3093;
}

/* icones dos titulos de cada topico */
.conhecimento-header i{
    font-size: 2.5rem;
}

.conhecimento-header h3{
    font-family: var(--font-action);
    font-size: 2rem;
    padding-left: 1rem;
}

.conhecimento-text{
    font-family: var(--font-action);
    margin-top: 1rem;
}

/* img de fundo da div conhecimentos */
.conhecimentos-img-wrapper{
    grid-column: 7 / 11;
    grid-row: 2 / 6;
    width: 100%;
}

/* ajustand a img p/ ficar no tamanho certo dentro da div warpper */
.conhecimentos-img-wrapper img{
    object-fit: cover;
    width: 100%;
}

/* SESSAO PROJETOS este eh o background-color */
.sessao-projetos{
    background-color: #f5f5f5;
}

.projetos{
    display: flex;
    justify-content: space-evenly;
}

.card{
    width: 18rem;
    height: 25rem;
    /* este position relative eh p/ posicionar com position absolute a div card info */
    position: relative;
    margin-bottom: 5rem;
}

.card-img-wrapper{
    width: 100%;
    height: 100%;
    background-color: #262626;
    border-radius: .5rem;
    margin-bottom: 2rem;
}

.card-img-wrapper img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    opacity: .8;
}

.card:hover .card-img-wrapper img{
    opacity: .5;
    transition: opacity 3s;
}

.card-info{
    position: absolute;
    bottom: 0;
    /* inicialmento esse card info vai ser com opacidade 0 e visibilidade escondida  */
    opacity: 0;
    visibility: hidden;
    padding: 2rem;
    text-shadow: .3rem .2rem .1rem 0.3rem rgba(0, 0, 0, .6);
    /* efeito ao aparecer as letras */
    transition: all .3s;
}

.card-info h2{
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 500;
    color: #eee;
}

.card-info h3{
    font-family: var(--font-secundary);
    font-weight: bolder;
    color: #ff4081;
    margin-bottom: 1rem;
}

.card-info p{
    font-family: var(--font-action);
    font-size: .9rem;
    font-weight: 500;
    color: #eee;
    margin-bottom: 2rem;
}

.card-info button{
    width: 8rem;
    height: 2.5rem;
    background: #fc4a1a;
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a); 
    background: linear-gradient(to right, #f7b733, #fc4a1a);
    font-family: var(--font-action);
    font-size: 1rem;
    color: #eee;
    border: none;
    border-radius: .5rem;
}
/* quando passa o muse sobre o card a visibilidade e opacidade mudam */
.card:hover .card-info{
    bottom: 2rem;
    opacity: 1;
    visibility: visible;
}

/* AQUI COMECA A SESSAO DE CONTATO */
.sessao-contato{
    width: 100%;
    height: 100vh;
    background-color: #272727;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato-wrapper{
    width: 60%;
    height: 30rem;
    display: flex;
}

/* arrumar essa questao da imagem */
/* .contato-left{
    width: 100%;
    background: linear-gradient(rgba(15,15,15,0.6),rgba(22,22,22,0.9)), 
    background: url("/Images/img8.jpg");
    background-size: cover;
} */

.contato-right{
    width: 65%;
    background-color: #eee;
    padding: 3rem 10rem 10rem;   
}

.sessao-contato h1{
    width: 100%;
    text-align: center;
    font-family: var(--font-primary);
    color: #272727;
    font-size: 3rem;
    font-weight: lighter;
}

.sessao-contato form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group{
    position: relative;
}

.field{
    background: transparent;
    border: none;
    width: 20rem;
    font-size: 1.5rem;
    font-family: var(--font-secundary);
    border-bottom: 2px dashed #636363;
    height: 1.5rem;
    outline: none;
    margin: 2rem 0;
}

/* afastamento da linha pontilhada do texto mensagem */
.input-group textarea{
    padding-top: .5rem;
    max-width: 20rem;
    min-width: 20rem;
    max-height: 20rem;
}

.field-label{
    position: absolute;
    left: 0;
    top: 2rem;
    font-size: 1.2rem;
    font-family: var(--font-secundary);
    text-transform: uppercase;
    transition: .3s;
}

.field:focus ~ label{
    top: 0;
    font-size: 1rem;
}

.btn-submit{
    text-transform: uppercase;
    width: 20rem;
    height: 2.5rem;
    background: #fc4a1a;
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a); 
    background: linear-gradient(to right, #f7b733, #fc4a1a);
    font-family: var(--font-action);
    font-size: 1.2rem;
    color: #eee;
    border: none;
    border-radius: .5rem;
}

.sessao-orcamento{
    width: 100%;
    height: 100vh;
    background-color: #a7a7a7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orcamento-wrapper{
    width: 60%;
    height: 80%;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: .5rem .5rem .3rem rgba(0, 0, 0, .2);
    position: relative;
}

.sessao-orcamento h1{
    position: absolute;
    top: -2.5rem;
    left: 2rem;
    background: #6a3093;  
    background: -webkit-linear-gradient(to right, #a044ff, #6a3093); 
    background: linear-gradient(to left, #a044ff, #6a3093);
    padding: 0 3rem;
    border-radius: .5rem;
    color: white;
    font-family: var(--font-primary);
    font-size: 3rem;
    font-weight: lighter;
    box-shadow: .5rem .5rem .3rem rgba(0, 0, 0, .1);
}

.sessao-orcamento form{
    margin: 8rem;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
}

.sessao-orcamento label{
    font-family: var(--font-secundary);
    font-size: 1.5rem;
    font-weight: bold;
}

.sessao-orcamento input[type="number"]{
    font-family: var(--font-secundary);
    width: 4rem;
    font-size: 2rem;
    outline: none;
    border-radius: 10px;
    border: none;
    padding: .3rem;
}

.btn-orcamento{
    background: #6a3093;  
    background: -webkit-linear-gradient(to right, #a044ff, #6a3093); 
    background: linear-gradient(to left, #a044ff, #6a3093);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border: none;
    padding: .5rem;
    color: white;
    font-family: var(--font-primary);
    font-size: 1.5rem;
    text-transform: uppercase;
    grid-column: 2;
    box-shadow: .5rem .5rem .3rem rgba(0, 0, 0, .1);
}

footer{
    width: 100%;
    height: 10rem;
    background-color: #17181b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.footer-content p{
    font-family: var(--font-secundary);
    color: #a7a7a7;
    font-size: 1.2rem;
}

.social-list a{
    margin: 0 2rem;
    color: #a7a7a7;
    font-size: 2rem;
}

.social-list ul{
    display: flex;
}

#link-topo{
    position: fixed;
    right:  3rem;
    bottom: 3rem;
    width: 2rem;
    height: 2rem;
    background: #6a3093;  
    background: -webkit-linear-gradient(to right, #a044ff, #6a3093); 
    background: linear-gradient(to left, #a044ff, #6a3093);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 1rem;
    border: none;
}





