@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

/* tirando todas as margens e expassamentos da pagina inteira */
*{
    margin: 0;
    padding: 0;
    /* todos os elementos que tiver lista na pagina nao terao os estilo com pontos a esquerda */
    list-style: none;
    /* todos os textos na pagina interia nao terao sublinhados */
    text-decoration: none;
}

/* codigo p/ mudar as fontes (linkado com o primeiro @import do CSS) */
:root{
    --font-primary: "Baloo Da 2", serif;
    --font-secundary: "Josefin Slab", serif;
    --font-action: "Mulish", serif;
}

/* esta eh a div do menu lateral */
.hamburguer{
    /* ao fazer uma div, usar backgroundcolor, width e heigh para visualizar o formato */
    /* background-color: red; */
    width: 2rem;
    height: 2rem;
    /* position fixed eh p/ permanecer fixo na tela mesmo quando estiver rolando a pagina */
    position: fixed;
    /* este z-index eh p/ deixar o elemento a frente de todo o resto */
    z-index: 100;
    /* distancias em relacao ao canto superior direito, poisso a primeira linha no codigo eh right */
    right: 2rem;
    top: 2rem;
    /* esse display flex eh para poder mover as lines e por um embaixo da outra usando depois o justify-content: space-evenly;  */
    display: flex;
    /* esse flex direction eh p/ indicar o sentido que vai ficar as lines, nesse caso em colunas */
    flex-direction: column;
    /* justificar conteudo uniformemente dentro da div hamburguer com expassamento vertical */
    justify-content: space-evenly;
    /* estilo do ponteiro do mouse muda pra indicar que eh um link */
    cursor: pointer;
}

/* efeito associado ao JS p/ o menu lateral */
.show-menu .hamburguer{
    right: 15rem;
}

/* todo os elementos line terao a largura de 100% em relacao ao elemento pai hamburguer */
.line{
     width: 100%;
     height: .1rem;
     background-color: white;
     /* sombra para poder visualizar em bgs claros */
     box-shadow: .1rem .1rem .1rem #6a3093;
     /* trasicao do efeito associado ao JS do menu lateral */
     transition: transform 1.2s;
}

/* efeito da linha 1 da div hambuerguer (associado ao JS) p/ formar um X */
.show-menu #line1{
    transform: rotate(45deg) translate(.3rem, .45rem);
}

/* efeito da linha 2 da div hambuerguer (associado ao JS) */
.show-menu #line2{
    opacity: 0;
}

/* efeito da linha 3 da div hambuerguer (associado ao JS) p/ formar um X */
.show-menu #line3{
    transform: rotate(-45deg) translate(.2rem, -.5rem);
}

/* esse eh o span dentro da div hamburguer */
.hamburguer span{
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    /* para poder alinha ao centro com justify-content na horizontal e align-items na vertical */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6a3093;
    /* cor e familia do texto */
    color: white;
    font-family: var(--font-action);
    /* opacity 0 por padrao p/ associar ao .show-menu .hamburguer:hover logo a baixo */
    opacity: 0;
}

/* pseudo elemento p/ o span */
.hamburguer span::before{
    content: "";
    position: absolute;
    border-right: .5rem solid #6a3093;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
}

/* span de fechar aba lateral so aparece ao clicar no X */
.show-menu .hamburguer:hover span{
    opacity: 1;
}

/* aqui estou deixando a largura em 100% e altura ajustavel p/ responsividade */
header{
    width: 100%;
    /* esse 100vh eh p/ a altura ficar responsiva (View Height) */
    height: 100vh;
    /* esse overflow eh p/ nao criar barra de rolagem para o bg */
    overflow: hidden;
    /* esse position:relative eh p/ o position:absolute da div banner funcionar */
    position: relative;
}

/* background dentro da div imgWarpper dentro do header */
.imgWrapper{
    width: 100%;
    height: 100%;
    /* esse overflow eh p/ nao criar barra de rolagem para o bg */
    overflow: hidden;
    /* este background color eh para escurecer um pouco o bg */
    background-color: rgba(0, 0, 0, .8)
}

/* aqui eu estou modificando somente a img dentro do wrapper p/ ficar responsivo*/
.imgWrapper img{
    width: 100%;
    height: 100%;
    /* esse object-fit eh p/ a imagem cobrir a div imgWarpper  */
    object-fit: cover;
    opacity: 0.8;
    /* aplicacao do efeito zoom @keyframes zoom */
    animation: zoom 2.5s;
}

/* animacao do header dentro da div imgWrapper img */
/* esta animation da um zoom-out da imagem durante 25s */
@keyframes zoom{
    0%{
       transform: scale(1.3); 
    }
    100%{
        transform: scale(1); 
     }
}

/* img lateral direito */
.imgLateral{
    width: 80%;
    height: 80vh;
    position: absolute;
    top: 20%;
    left: 15%;
    opacity: 0;
    animation: moveImgLateral 3s forwards;
}

/* img lateral direito */
.img2{
    width: 80%;
    height: 80vh;
    position: absolute;
    top: 20%;
    left: 15%;
    opacity: 0;
    animation: moveImgLateral 1s forwards; 
}

/* animation do imagem lateral */
@keyframes moveImgLateral{
    0%{
        transform: translateY(10rem) rotateY(-30deg) scale(2.3);
    }
    100%{
        transform: translateY(0) rotateY(0) scale(1); 
        opacity: 1;
    }
}

/* aqui eh a div banner que contem os dados e botao encima do bg no header */
.banner{
    /* esse position eh para posicionar a div banner
    mas p/ funcionar eh necessario ter tambem o position:relative
    dentro do header sendo possivel por o div banner em qualquer lugar
    dentro do header */
    position: absolute;
    /* margens em relacao as bordas, superior e lateral esquerda */
    top: 25%;
    left: 15%;
}
/* aqui estou modificando apenas o h1 da div banner */
.banner h1{
    color: white;
    /* esse tamanho 3rem esta relacionado ao tamanho padrao de 16px,
    logo 3rm eh (3.5 * 16 = 56px) */
    font-size: 4.5rem;
    font-family: var(--font-primary);
    /* font-weight: eh para deixar a font mais fina; */
    font-weight: 200;
    /* sombra da font */
    text-shadow: .2rem .3rem .2px rgba(0, 0, 0, .4);
    /* expassamento entre linhas do texto */
    line-height: 3.5rem;
    margin-bottom: 2rem;
    /* esta opacity eh para iniciar a animation do transparente p/ o normal */
    opacity: 0;
    /* animation com nome, tempo e forwards p/ nao desaparecer o texto no final da animation */
    animation: moveBanner 1s forwards;
}

/* aqui estou modificando apenas o paragrafo p da div banner */
.banner p{
    font-family: var(--font-secundary);
    color: white;
    font-size: 2.5rem;
    text-shadow: .2rem .2rem rgba(0, 0, 0, .4);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1.5s forwards;
}

/* aqui estou modificando apenas o botao dentro da div banner */
.banner button{
    font-family: var(--font-action);
    color: white;
    /* uppercase p/ deixar tudo maiusculo */
    text-transform: uppercase;
    /* p/ dar espaco entre as letras */
    letter-spacing: .1rem;
    /* bg do botao em degrade usando code do site uiGradient */
    background: #fc4a1a;
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a); 
    background: linear-gradient(to right, #f7b733, #fc4a1a);
    /* margens internas do botao (1rem p/ o top e bottom e 3rem p/ laterais) */
    padding: 1rem 3rem;
    border: none;
    /* arredondamento das bordas em px p/ nao mudar raio ao redimencionar */
    border-radius: 5px;
    /* mudando o ponteiro do mouse p/ indicar que eh um botao */
    cursor: pointer;
    opacity: 0;
    animation: moveBanner 2s forwards;
}

/* efeito no botao que pode ser usado de varias formas, como ajustar tempo de transicao do efeito (EXPLORAR ISSO) */
.banner button:hover{
    background: #6a3093;  
    background: -webkit-linear-gradient(to right, #a044ff, #6a3093); 
    background: linear-gradient(to left, #a044ff, #6a3093);
}

/* animacao do text e botao dentro da div banner */
@keyframes moveBanner{
    0%{
        transform: translateX(50rem) rotateY(60deg);
    }
    100%{
        transform: translateX(0) rotateY(0);
        opacity: 1;
    }
}

/* menu lateral que abre ao clicar na div hamburguer, ela esta aqui embaixo para seguir a ordem dos elementos */
.sidebar{
    width: 20rem;
    height: 100vh;
    background: #fc4a1a; 
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  
    background: linear-gradient(to right, #f7b733, #fc4a1a);  
    position: fixed;
    top: 0;
    /* esse -20rem eh p/ se ajustar ao efeito de aparecer desaparecer do menu lateral */
    right: -20rem;
    /* efeito de transicao da aba lateral */
    transition: all 1s;
}

/* JS event do efeito da aba lateral */
.show-menu .sidebar{
    right: 0;
}

/* div menu eh o texto dentro da div sidebar */
.menu{
    position: absolute;
    top: 20%;
    left: 15%;
}

/* textos dentro da div menu */
.menu-item{
    margin-bottom: 2.5rem;
}

/* links dentro da div menu */
.menu-link{
    font-family: var(--font-action);
    font-size: 1.8rem;
    font-weight: 800;
    color:white;
    /* transicao de cores p/ o efeito hover (cor e tempo) */
    transition: color .5s;
}

/* efeito hover nos links */
.menu-link:hover{
    color: #6a3093;
}
/* icons que na verdade sao fonts associadas ao segundo @import do CSS */
.socialMedia{
    /* position absolute p/ poder posicionar embaixo usando bottom */
    position: absolute;
    bottom: 8rem;
    /* width de 100% em relacao ao tamanho da div sidebar */
    width: 100%;
    /* display flex p/ poder usar o justify-content, expassando os icons */
    display: flex;
    justify-content: space-evenly;
}

.socialMedia i{
    color: #6a3093;
    font-size: 2.5rem;
    transition: color .5s;
}

.socialMedia i:hover{
    color: #9b4cd3;
}

.menuBurguer{
    position: absolute;
    top: 2.3rem;
    right: 5.5rem;
    z-index: 1;
    color: white;
    position: fixed;
    font-family: var(--font-action);
}








